
* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
}

/* Section 1: First */
/* Section 2: Mon */
/* Section 3: Mena */
/* Section 4: Few */
/* Section 5: Few */
/* Section 6: Mon */
/* Section 7: Mek */

